<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420431342362-cdgmfadsk9lr174kmtltec4mon9undcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420431342362-cdgmfadsk9lr174kmtltec4mon9undcv</string>
	<key>API_KEY</key>
	<string>AIzaSyAYVg39w5rhDekKtur6L-jOfDum88965Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>420431342362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maptask</string>
	<key>PROJECT_ID</key>
	<string>massive-98d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>massive-98d5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420431342362:ios:5a72bf91161b141370daa3</string>
</dict>
</plist>